---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
import { AlertTriangleIcon } from "lucide-react";
import { Badge } from "@/components/ui/badge";

type Props = CollectionEntry<"articles">["data"];

const {
  title,
  description,
  date,
  updatedDate,
  heroImage,
  tags,
  lang,
  published,
  archived,
} = Astro.props;
---

<Layout
  showBackground={false}
  title={title}
  description={description}
  image={heroImage}
>
  <div
    class="relative py-10 z-10 min-h-svh pointer-events-auto w-full flex justify-center items-center flex-col"
  >
    <div class="max-w-full lg:max-w-2xl mx-auto p-6 space-y-10">
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <Image width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={date} />
              {
                updatedDate && (
                  <div class="text-gray-600 dark:text-gray-400">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="text-4xl font-bold mb-0 text-foreground">{title}</h1>
            {
              tags?.length > 0 && (
                <div class="flex items-center flex-wrap gap-2 mt-2">
                  {tags.map((tag) => (
                    <Badge>{tag}</Badge>
                  ))}
                </div>
              )
            }
            {
              archived && (
                <div class="text-gray-600 mt-2 dark:text-gray-400 flex flex-col">
                  <div class="flex items-center gap-2">
                    <AlertTriangleIcon className="w-4 h-4" />
                    <span>Archived article</span>
                  </div>
                  <span>
                    This article is archived and it's not being updated.
                  </span>
                </div>
              )
            }
            <hr
              class="border-2 rounded-full not-prose my-2 mb-10 border-neutral-600 transition-colors duration-300 ease-in-out dark:border-neutral-400"
            />
          </div>
          <div
            class="prose !text-left dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-gray-600 dark:prose-a:text-gray-400 prose-p:text-justify prose-img:rounded-xl prose-headings:underline prose-blockquote:border-neutral-600 dark:prose-blockquote:border-neutral-400"
          >
            <slot />
          </div>
        </div>
      </article>
    </div>
  </div>
</Layout>
